.background{
    background-color: rgb(45, 45, 45);;
}


.tab-menu {
    display: flex;
    background-color: transparent;
}

.tab-menu a {
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 150px;
    background-color: #e0e0e0;
    border-right: 1px solid #ccc;
    cursor: pointer;
}

.tab-menu a:hover {
    background-color: #ddd;
}

.tab-menu a.active {
    background-color: #ccc;
    color: black;
}

.tab-content {
    display: none;
    padding: 20px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    background-color: rgb(45, 45, 45);
}

.tab-content.active {
    display: block;
    margin: auto;
}

/*리스트*/
 .image-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    position: relative;
    justify-content: center;
    align-items: center;

    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    text-align: center; /* 텍스트도 가운데 정렬 */
}

.image-list li {
    position: relative;
    width: 80px;
    height: 105px;
    margin: 1px;
    border-radius: 5px;
    background-color: rgb(255, 118, 69);
    overflow: hidden; /* 이미지를 li 안에 가둬서 넘치지 않도록 함 */
    justify-content: center;
    align-items: center;
    text-align: center;

}

.image-list img {
    width: 75px;
    height: 75px;
    margin: 2px;
    margin-bottom: 0px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(45, 45, 45);
    transition: background-color 0.3s ease;
}

.image-list .overlay {
    position: absolute; /* li 요소를 기준으로 절대 위치 */
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 5px;
    background-color: transparent;
    z-index: 1; /* img 위에 나타나도록 z-index 설정 */
    pointer-events: none; /* 이벤트 제거, 필요 시 수정 가능 */
}

.image-list span {
    display: block;
    font-family: Arial;
    margin: 5px;
    margin-top: 0px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20px;
}

.image-list .mid {
    font-size: 11px;
}

.image-list .long {
    font-size: 9px;
}

.image-list li:hover img {
    transform: scale(1.05);
    transition: transform 0.3s;
}


/*탭2*/
#tab2 {
    font-family: Arial, sans-serif;
    background-color: transparent;
    color: white;
    padding: 20px;
    width: 1000px;
}
.calculator {
    max-width: 100%;
    margin: 0 auto;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    width: 800px;
    margin-bottom: 20px auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input-group div{
    align-items: center;
}

.input-group label{
    height: 30px ;
    line-height: 30px;
    padding: 0px;
    box-sizing: border-box;
}

.input-norange {
    display: flex;
    width: 300px;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 10px;
    justify-content: space-between;

}

.input-number {
    display: flex;
    width: 160px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.input-number button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 18px;
}

.input-number button:hover {
    background-color: #e8e8e8;
}
.input-number input {
    width: 100px;
    height: 30px;
    padding: 8px;
    border: 1px solid #555;
    background-color: #333;
    text-align: center;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
}

.input-number input::-webkit-inner-spin-button, 
.input-number input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

.input-number input[type=number] {
    -moz-appearance: textfield;
}


input[type="radio"] {
    margin-right: 5px;
}

input[type="range"]{
    width: 100%;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


